<html>
      <head>
        <meta charset="utf-8" />
        <title>Kitten</title>
        <link
           rel="stylesheet"
           href="<%= base_url %>/css/styles.css"
           type="text/css"
         />
      </head>
      <body>
        <div class="container">
          <nav>
            <ul>
              <li>Kittens</li>
              <li><a href="/">Home</a></li>
              <li><a href="/add/cat">Ajouter un chat</a></li>
          </ul>
          </nav>
        </div>